@import "../../common/colors";

.edit-training-header-container {

    .header-col {
        .header-1st-row {
            display: flex;
            justify-content: space-between;
            padding: 0 .5rem;
            background-color: $purple5;

            .name {

            }

            .edit-training-buttons {
                display: flex;
                justify-content: space-between;
                width: 6rem;

                .btn {
                    i {
                        font-size: 2rem;
                        //color: $purple2;
                    }
                }
            }
        }

        .search-row {
            padding: 0 .5rem;
            display: flex;
            justify-content: flex-end;
        }
    }
}
