@import "../../common/colors";

.edit-training-header-container {
    //margin: .3rem;

    .header-row {
        display: flex;
        justify-content: space-between;
        margin: .5rem;

        .edit-training-buttons {
            display: flex;
            justify-content: space-between;
            width: 6rem;

            .btn {
                i {
                    font-size: 2rem;
                    //color: $purple2;
                }
            }
        }
    }
}
