@import "../../common/colors";

.edit-training-exercise-container {
    margin: 1rem 1rem;
    background-color: lightgoldenrodyellow;
    border: $grey2 .5px solid;
    padding: .2rem;
    //min-width: 100px;
    //max-width: 100px;

    .exercise-col {
        text-align: left;
        display: flex;
        flex-direction: column;

        .exercise {
            flex-grow: 1;
            min-height: 33px;
            max-height: 33px;
            overflow: hidden;
            font-size: 1rem;
            padding: .1em;
            text-align: center;
        }
        .question {
            border-bottom: $grey5 .5px solid;
        }
        .answer {
            background-color: rgba(0,0,0,.1);
        }
    }
}

.edit-modal-container {
    //background-color: $grey8blue;
    direction: ltr;

    .delete-btn {
        position: absolute;
        right: 0;
        top: 0;
        margin: .5rem;

        i {
            color: red;
        }
    }
    .question {
        margin-bottom: 1.5rem;
    }
    .buttons {
        margin-top: .8rem;
        display: flex;
        justify-content: space-between;

        .button-container {
            width: 7rem;
        }
    }
}
