@import "../../common/colors";

.edit-training-exercise-container {
    margin: 1rem 1rem;
    border: $grey2 .5px solid;
    padding: .2rem;

    .exercise-col {
        text-align: left;
        display: flex;
        flex-direction: column;

        .exercise {
            flex-grow: 1;
            min-height: 33px;
            max-height: 33px;
            text-align: center;
            overflow: hidden;
            font-size: 1rem;
            padding: .1em;
            padding-bottom: .5rem;
            text-overflow: ellipsis;
        }
        .question {
            border-bottom: $grey5 .5px solid;
        }
        .answer {
            background-color: rgba(0,0,0,.1);
        }
    }
}
