@import "../../common/colors";

.menu-edit-col {
    height: 100%;
    padding: .3rem;

    .title {
        text-align: center;
        text-decoration: underline;
        color: $grey3;
        width: 98%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .delete-btn-row {
        display: flex;
        justify-content: space-between;

        .msg {
            display: flex;
            align-items: center;
            padding: .5rem;
        }

        .delete-btn-container {
            width: 7rem;
            margin: 0 auto;
        }
    }
}
