@import "../../common/colors";

.main-banner {
    position: fixed;
    top: 0;
    z-index: 49;
    width: 100%;
    height: 100%;
    transition: transform .5s ease-in-out;

    .main-banner-header {
        position: fixed;
        top: 0;
        width: 100%;
        color: $grey6;
        font-weight: 600;

        .banner-header-row {
            background-color: $purple1;
            position: relative;
            display: flex;
            height: 3rem;
            padding: 0 .9rem;
            padding-top: .3rem;
            align-items: center;

            .icon-close {
                font-size: 1.7rem;
                margin-left: .5rem;
                transform: translateY(-5px);
            }
        }
    }

    .banner-body-container {
        width: 100%;
        height: 100%;
        background-color: $purple1;

        .banner-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            direction: rtl;

            font-size: 1.2rem;
            margin: .3rem;
            padding: .9em;
            box-sizing: border-box;
            margin-top: 0;
            background-color: #fff;
            width: 100%;
            height: 100%;

            .welcome {
                font-size: 1.3rem;
                margin-bottom: 3rem;

                .username {
                    font-weight: 600;
                }
                .signout {
                    font-size: 1rem;
                    text-decoration: underline;
                    color: blue;
                }
            }
            .search-friend {
                .friend-btn-row {
                    display: flex;
                    width: 100%;

                    .friend-btn-container {
                        width: 7rem;
                        margin: 0 auto;
                    }
                    .msg {
                        align-self: center;
                        margin: 0 1rem;
                        font-size: 1rem;
                        padding: .5rem;
                    }
                }
            }

            .about {}
            .footer {}
        }
    }
}
