@import "../../common/colors";

.main-banner {
    position: fixed;
    top: 0;
    z-index: 49;
    width: 100%;
    height: 100%;
    transition: transform .5s ease-in-out;

    .main-banner-header {
        position: fixed;
        top: 0;
        width: 100%;
        color: $grey6;
        font-weight: 600;

        .banner-header-row {
            background-color: $purple1;
            position: relative;
            display: flex;
            height: 3rem;
            padding: 0 .9rem;
            padding-top: .3rem;
            align-items: center;

            .icon-close {
                font-size: 1.7rem;
                margin-left: .5rem;
                transform: translateY(-5px);
            }
        }
    }

    .banner-body-container {
        width: 100%;
        height: 100%;
        background-color: $purple1;

        .banner-body {
            margin: .3rem;
            margin-top: 0;
            background-color: #fff;
        }
    }
}
