@import "/../common/colors";

.exam-desktop-container {
    height: 100%;
    background-color: $grey8blue;
    border: $grey4 2px solid;
    position: relative;
    overflow-y: hidden;

    @media #{$desktop} {
        width: 480px;
        height: 87%;
        margin: .3rem auto;
        padding: .3rem;
    }
    @media #{$ipad} and (orientation: portrait) {
        width: 480px;
        height: 87%;
        margin: .3rem auto;
        padding: .3rem;
    }
    @media #{$ipad-pro} and (orientation: portrait) {
        height: 61%;
    }

    .exam-container {
        height: 100%;

        .exam {
            height: 83%;
            margin: 1rem;
            text-align: center;
            padding-top: 0.3rem;

            @media #{$desktop} {
                height: 95%;
            }
            @media #{$mobile} {
                flex-grow: 1;
            }
            @media #{$mobile} and #{$landscape} {
                height: 87%;
            }
        }
    }
}
