@import "/../common/colors";

.exam-desktop-container {
    height: 100%;
    background-color: $grey8blue;
    border: $grey4 2px solid;
    position: relative;
    overflow-y: hidden;

    @media (min-device-width: $width-desktop-min) and (min-device-height: $height-desktop-min) {
        width: 480px;
        height: 87%;
        margin: .3rem auto;
        padding: .3rem;
    }
    @media only screen and (min-device-width: $width-ipad-min) and (max-device-width: $width-ipad-max)
    and (orientation : portrait) {
        width: 480px;
        height: 87%;
        margin: .3rem auto;
        padding: .3rem;
    }
    @media only screen and (min-device-width: $width-ipad-pro-min) and (max-device-width: $width-ipad-pro-max)
    and (orientation : portrait) {
        height: 61%;
    }

    .exam-container {
        height: 100%;

        .exam {
            height: 83%;
            margin: 1rem;
            text-align: center;
            padding-top: 0.3rem;

            @media (min-device-width: $width-desktop-min) and (min-device-height: $height-desktop-min) {
                height: 95%;
            }
            @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max) {
                flex-grow: 1;
            }
            @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max)
            and (min-aspect-ratio: 13/9) {
                height: 87%;
            }
        }
    }
}
