@import "/../common/colors";

.exam-desktop-container {
    height: 100%;
    border: $grey4 2px solid;

    @media (min-device-width: $width-desktop-min) and (min-height: $height-desktop-min) {
        width: 480px;
        height: fit-content;
        margin: .3rem auto;
        padding: .3rem;
    }

    .exam-container {
        height: 100%;
        position: relative;
        overflow-y: hidden;

        .exam {
            height: 83%;
            background-color: $grey8blue;
            margin: 1rem;
            text-align: center;
            padding-top: 0.3rem;
            border: $grey6 .3px solid;
            box-shadow: 2px 2px 8px -4px $grey4;

            @media (min-device-width: $width-desktop-min) and (min-height: $height-desktop-min) {
                height: 480px;
            }
            @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max) {
                flex-grow: 1;
            }
            @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max)
            and (orientation: landscape) {
                height: 73%;
            }

            .cards-left {
                position: absolute;
                z-index: 9;
                margin-left: 4%;
                margin-top: 1.5%;
                background-color: $grey7;
                padding: .1rem .3rem;
            }

            .exam-col {
                margin-top: 2rem;
                display: flex;
                flex-direction: column;

                .question {

                }
                .next-btn-container {

                    button {
                        i {
                            color: $purple1;
                            font-size: 48px;
                        }
                    }
                }

                .answers-container {
                    .answers-col {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
