@import "/../common/colors";

.game-container {
    height: 100%;
    position: relative;

    @media (min-device-width: $width-desktop-min) and (min-height: $height-desktop-min) {
        height: unset;
        width: fit-content;
        margin: 0 auto;
    }

    .game {
        height: 98%;
        text-align: center;
        padding-top: 0.3rem;
        border: $grey4 2px solid;

        @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max) {
            flex-grow: 1;
        }
        @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max)
        and (orientation: landscape) {
            height: 97%;
        }
        @media (min-device-width: $width-desktop-min) and (min-height: $height-desktop-min) {
            width: fit-content;
            align-self: center;
            padding: 0 1rem;
            margin-top: 0.3rem;
        }

        .cards-left {
            position: absolute;
            z-index: 9;
            margin-left: 1.2rem;
            margin-top: 0.3rem;
            background-color: $grey7;
            padding: .1rem .3rem;

            @media (min-device-width: $width-desktop-min) and (min-height: $height-desktop-min) {
                margin-top: 1.5rem;
            }
        }

        .game-buttons {
            margin: 1rem .5rem 0 .5rem;
            display: flex;
            justify-content: space-between;

            @media (min-device-width: $width-desktop-min) and (min-height: $height-desktop-min) {
                width: 320px;
                margin: 0 auto .5rem auto;
            }

            button {
                background-color: unset;
                border: none;
                outline: none;
            }

            i {
                font-size: 48px;
            }

            .btn-good i {
                color: mediumblue;
            }

            .btn-bad i {
                color: darkred;
            }
        }

        .buttons-disable {
            button {
                pointer-events: none;

                i {
                    color: $grey6 !important;
                }
            }
        }
    }

    .sum-box {
        position: absolute;
        width: 90%;
        height: 85%;
        margin: 0 5%;
        top: 1rem;
        border: $purple1 2px solid;
        border-radius: 5px;
        background-color: $purple2;
        color: $grey10;
        z-index: 19;
        transform: translateY(600px);
        transition: transform .5s ease-in-out;
    }
    .popup-sum {
        transform: translateY(0);
    }
}
