@import "/../common/colors";

.game-desktop-container {
    height: 100%;
    background-color: $grey8blueMask;
    border: $grey4 2px solid;

    @media #{$desktop} {
        width: 480px;
        height: 87%;
        margin: .3rem auto;
        padding: .3rem;
    }

    @media #{$ipad-pro} and (orientation: portrait) {
        height: 60%;
    }

    .game-container {
        height: 100%;
        position: relative;
        overflow-y: hidden;

        .game {
            height: 98%;
            text-align: center;
            padding-top: 0.3rem;

            @media #{$mobile} {
                flex-grow: 1;
            }
            @media #{$mobile} and #{$landscape} {
                height: 80%;
                display: flex;
            }

            .training-name {
                position: absolute;
                z-index: 19;
                right: 0;
                width: 15rem;
                max-height: 1.2rem;
                text-overflow: ellipsis;
                overflow: hidden;
                text-align: right;
                direction: rtl;
                //background-color: $grey7;
                text-decoration: underline;
                color: $grey2;
                font-size: .9rem;
                padding: .1rem;
                margin: .1rem 1.2rem;

                @media #{$mobile} and #{$landscape} {
                    right: 4rem;
                    width: 11rem;
                }
            }

            .cards-left {
                position: absolute;
                z-index: 9;
                margin-left: 4%;
                margin-top: 1.5%;
                background-color: $grey7;
                padding: .1rem .3rem;

                i {
                    margin: 0px;
                    margin-right: 4px;
                }
            }

            .game-buttons {
                margin: 1rem .5rem 0 .5rem;
                display: flex;
                justify-content: space-between;

                @media #{$mobile} and #{$landscape} {
                    flex-direction: column-reverse;
                }

                i {
                    font-size: 48px;
                }

                .btn-good i {
                    color: mediumblue;
                }
                .btn-bad i {
                    color: darkred;
                }
                .disable-result-button {
                    pointer-events: none;
                    i {
                        color: #ccc;
                    }
                }
            }

            .buttons-disable {
                button {
                    pointer-events: none;

                    i {
                        color: $grey6 !important;
                    }
                }
            }
        }
    }
}
