@import "/../common/colors";


.trainings-list-page {
    background-color: white;

    .trainings-list-container {
        margin: .3rem;

        .trainings-list-col {
            display: flex;
            flex-direction: column;
            margin-bottom: 6rem;

            @media (min-device-width: $width-desktop-min) and (min-height: $height-desktop-min) {
                flex-direction: row;
                flex-wrap: wrap;

                > div {
                    width: 27.7rem;
                    margin: 0 1rem;
                }
            }
        }
    }
}
