@import "/../common/colors";


.trainings-list-page {
    background-color: white;

    .trainings-list-container {
        margin: .3rem;

        .trainings-list-col {
            display: flex;
            flex-direction: column;
            margin-bottom: 6rem;

            @media #{$desktop} {
                flex-direction: row;
                flex-wrap: wrap;

                > div {
                    width: 45%;
                    margin: 0 auto;
                }
                > div:last-child {
                    margin: 0 2.5%;
                }
            }
            @media #{$ipad} and (orientation: portrait) {
                flex-direction: row;
                flex-wrap: wrap;

                > div {
                    width: 45%;
                    margin: 0 auto;
                }
                > div:last-child {
                    margin: 0 2.5%;
                }
            }
        }
    }
}
