@import "/../common/colors";


.trainings-list-page {
    background-color: white;

    .trainings-list-container {
        margin: .3rem;

        .trainings-list-col {
            display: flex;
            flex-direction: column;

        }
    }
}
