@import '../common/colors';

.add-button-container {

    .btn-container {

        .btn {
            display: flex;
            justify-content: center;
            align-content: center;
            margin: 1.5rem;
            background-color: $purple2;
            border-radius: 50%;
            color: $purple6;
            font-size: 3.5rem;
            font-weight: 300;

            padding: 0 1.1rem;
            padding-bottom: .2rem;
        }
    }
}
