@import "../common/colors";

.header {
    width: 100%;
    color: $grey6;
    font-weight: 600;

    .error {
        position: absolute;
        background-color: #faa;
        z-index: 9;
        color: black;
        bottom: 0rem;
        margin-left: 1rem;
        padding: .1rem .3rem;
    }

    .header-row {
        background-color: $purple1;
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 3rem;
        padding: 0 .9rem;
        padding-top: .3rem;
        z-index: 39;

        .header-left {
            display: flex;
            flex-direction: column;
            margin-top: -7px;
            align-self: center;

            .user-name {
                margin: 0 auto;
                padding-left: 7px;
            }
        }
        .btn-menu {
            margin-left: -.3rem;
            align-self: start;
            i {
                font-size: 43px;
                color: $grey10;
                //transform: rotateX(45deg);
            }
        }

        .tabs {
            margin-top: .4rem;

            .btn {
                margin: 0 .7rem;
                i {
                    font-size: 28px;
                    color: $grey10;
                }
            }
            .tab-active {
                i {
                    color: $purple4;
                }
            }
        }
        .logo {
            align-self: center;
            margin-top: -4px;
        }
    }

    .top-menu-box {
        position: absolute;
        z-index: 29;
        width: 100%;
        top: 2.6rem;
        transform: translateY(-110%);
        transition: transform .5s ease-in-out;
    }
    .top-menu-pop-down {
        transform: translateY(0);
    }
}
