@import '../../common/colors';

.icon-button-container {
    .btn {
        padding: 0;
    }
    button > i {
        border-radius: 50%;
        padding: .5rem .6rem;
    }
}

.icon-button-border {
    border: $grey4 .5px solid;
}
