@import "../../common/colors";

.modal-ok-cancel-container {
    direction: ltr;

    .buttons {
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 1rem;

        @media (min-device-width: $width-desktop-min) and (min-device-height: $height-desktop-min) {
            width: 70%;
        }
        @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max)
        and (min-aspect-ratio: 13/9) {
            width: 80%;
        }

        .button-container {
            width: 7rem;
        }
    }
}
