@import "../../common/colors";

.popup-box-container {
    position: absolute;
    width: 90%;
    height: 82%;
    margin: 0 5%;
    top: 1rem;
    border: $purple1 2px solid;
    border-radius: 5px;
    background-color: $purple2;
    color: $grey10;
    z-index: 19;
    transform: translateY(150%);
    transition: transform .5s ease-in-out;

    @media only screen and (min-device-width: $width-mobile-min) and (max-device-width: $width-mobile-max)
    and (min-aspect-ratio: 13/9) {
        height: 75%;
    }
}
.popup-box-popup {
    transform: translateY(0);
}
