@import "../../common/colors";

.top-menu-container {
    text-align: start;

    .menu-container {
        background-color: $purple1;
        background: linear-gradient(180deg, rgba(34, 0, 102, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(238, 230, 255, 1) 100%);
        border: $grey1 1px solid;
        color: $grey2;

        @media only screen and (min-device-width: $width-mobile-min) and (max-device-width: $width-mobile-max)
        and (min-aspect-ratio: 13/9) {
            min-height: 220px;
        }

        .menu-box {
            min-height: 250px;
            background-color: white;
            margin: .7rem;
            border: $grey1 1px solid;
            border-bottom: $purple6 .7rem solid;
        }
    }
}
