@import "../../common/colors";

.choose-friend-container {
    width: fit-content;
    margin: auto;
    //margin-bottom: .3rem;

    .friend-row {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        margin-top: 2rem;
        justify-content: space-between;
        max-width: 18rem;
        min-height: 5rem;

        .play-btn-container {
            margin-top: -.6rem;
        }
    }

    .btns-container {
        width: fit-content;
        margin: auto;
        transform: translateX(.1rem);
        margin-top: -1rem;
        display: flex;
        flex-direction: column;
        align-content: center;

        .btn {
        }
    }
}
