@import "../../common/colors";

.drawer-buttons-container {
    position: relative;
    overflow: hidden;
    transition: box-shadow .5s ease-in-out;

    .open-button {
        display: flex;
        justify-content: flex-end;
    }
    .open-button-absolute {
        position: absolute;
        border: $grey4 .5px solid;
        border-left: $grey4 1px solid;
        top: 0;
        right: 0;
    }

    .buttons-absolute {
        position: absolute;
        transition: transform .5s ease-in-out;
        border: $grey4 .5px solid;
        border-right: none;
        padding: 0 2px;

        .btns-row {
            display: flex;
            flex-wrap: nowrap;
        }
    }
}
