@import "/../../common/colors";


.sample-exercise-container {
    margin: .2rem 0;
    background-color: lightgoldenrodyellow;
    border: $grey2 .5px solid;
    padding: .2rem;

    .sample-exercise-col {
        text-align: left;
        display: flex;
        flex-direction: column;

        .sample {
            flex-grow: 1;
            min-height: 33px;
            max-height: 33px;
            overflow: hidden;
            padding: .1em;
            font-size: 80%;
            text-align: center;
        }
        .sample-q {
            border-bottom: $grey5 .5px solid;
        }
        .sample-a {
        }
    }

}

.divider-container {
    width: 100%;

    .divider {
        border-bottom: $grey3 .5px solid;
    }
}
