@import "/../../common/colors";


.sample-exercise-container {
    position: relative;
    max-width: 7.5rem;
    margin: .2rem 0;
    background-color: lightgoldenrodyellow;
    border: $grey2 .5px solid;
    padding: .2rem;

    .icon-edit-absolute {
        position: absolute;
        bottom: 0;
        color: $grey4;
    }

    .sample-exercise-col {
        text-align: left;
        display: flex;
        flex-direction: column;

        .exercise {
            flex-grow: 1;
            min-height: 33px;
            max-height: 33px;
            overflow: hidden;
            padding: .1em;
            font-size: 12px;
            text-align: center;
        }
        .question {
            border-bottom: $grey5 .5px solid;
        }
        .answer {
            background-color: rgba(0,0,0,.1);
        }
    }

}

.divider-container {
    width: 100%;

    .divider {
        border-bottom: $grey3 .5px solid;
    }
}
