@import "/../../common/colors";


.training-container {
    margin: .4rem 0;
    padding: .2rem;
    background-color: $grey8Mask;
    border: $grey5 .5px solid;
    border-radius: 5px;

    .training-box {
        position: relative;

        .training-btn-edit-absolute {
            position: absolute;
            bottom: 0;
            display: none;

            .training-btn-edit {
                .btn > i {
                    color: $purple6;
                    background-color: rgba(0,0,0,0.6);
                    font-size: 22px;
                    border-radius: 50%;
                    padding: 18% 18%;
                    margin-left: -17%;
                }
            }
        }
        .training-row {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            .friend-name {
                background-color: $grey7;
                border-radius: 5px;
                color: $purple1;
                padding: 3px;
                font-weight: 700;

                &:after {
                    margin-left: .5rem;
                }
            }

            .sample-exercises-container {
                flex-grow: 1;
                margin: 0 .3rem;

                .exercises-row {
                    display: flex;
                    flex-wrap: nowrap;
                }
            }

            .training-btns-container {
                flex-grow: 1;
                min-width: 3rem;
                max-width: 3rem;
                padding: .1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
