@import "/../../common/colors";


.training-container {
    margin: .4rem 0;
    padding: .2rem;
    background-color: $grey8;
    border: $grey5 .5px solid;
    border-radius: 5px;

    .training-row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        .name {
            max-height: 81px;
            overflow: hidden;

            font-size: 18px;
            flex-grow: 1;
            min-width: 45%;
            max-width: 45%;
            text-align: left;
        }

        .sample-exercises-container {
            flex-grow: 1;
            margin: 0 .3rem;

            .exercises-row {
                display: flex;
                flex-wrap: nowrap;
            }
        }

        .training-btns-container {
            flex-grow: 1;
            min-width: 3rem;
            max-width: 3rem;
            padding: .1rem;

            .btns-col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;

                .btn-play {
                    .btn {
                        i {
                            font-size: 28px;
                            background-color: $purple7;
                            border-radius: 50%;
                            padding: 17% 25%;
                            margin-left: -15%;
                        }
                    }
                }
            }
        }
    }
}
