@import "../../common/colors";

.sign-container {
    margin: .5rem;

    @media (min-device-width: $width-desktop-min) and (min-height: $height-desktop-min) {
        width: 40rem;
        margin: .5rem auto;
    }

    .sign-up-box {
        background-color: $purple6;
        border: 1px $purple4 solid;
    }

    .sign-col {
        display: flex;
        flex-direction: column;

        .sign-title, .signup-title {
            direction: rtl;
            font-size: 1rem;
            margin-top: .4rem;
            margin-bottom: .9rem;
        }
        .signup-title {
            margin-bottom: 1.2rem;
        }

        .field {
            height: 5rem;
            max-height: 5rem;
            margin-bottom: 1.25rem;
        }
        .sign-pass, .signup-pass2 {
            margin-bottom: 0;
        }

        .sign-btn-container {
            width: 40%;
            margin: .5rem auto;
            margin-bottom: 0;
            transform: translateX(-.25rem);
        }
        .signin-signup {
            direction: rtl;
            margin-top: 1rem;
            font-size: .9rem;
            color: $grey3;
            margin-bottom: .6rem;

            .sign-flip-btn {
                color: blue;
                font-size: 1.2rem;
                cursor: pointer;
            }
        }
    }
}
