@import "../../common/colors";

.signin-container {
    .signin-col {
        display: flex;
        flex-direction: column;

        .signin-title {
            font-size: .8rem;
            margin-top: .5rem;
            margin-bottom: 1rem;
        }
        .field {
            margin-bottom: 1.2rem;
        }
        .signin-name {}
        .signin-pass {}
        .signin-btn-container {
            width: 40%;
            margin: .5rem auto;
        }
    }
}
