@import "../../common/colors";

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .card-placeholder, .next-card-placeholder {
        width: 95%;
        height: 80vh;
        position: relative;

        .card {
            width: 100%;
            height: 100%;
            background-color: white;

            font-size: 32px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            transition: transform 0.3s linear;
        }
        .card-back {
            background-color: lightgoldenrodyellow;
        }
    }
    .next-card-placeholder {
        position: absolute;
        box-shadow: 4px 4px 14px 0px $grey4;
        transform: translateX(-110%);
        transition: transform 0.5s ease-in-out, opacity 0.3s linear;
    }
    .next-card-in {
        transform: translateX(0);
        // transition: transform 0s linear, opacity 0.3s ease-in-out;
    }
    .next-card-fade {
        opacity: 0;
    }

    .card-hide {
        transform: rotateY(90deg);
    }
}
