@import "../../common/colors";

.card-desktop-container {
    width: 100%;

    @media (min-device-width: $width-desktop-min) and (min-height: $height-desktop-min) {
        width: 480px;
        margin: 0 auto;
    }

    .card-container {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
        position: relative;

        .card-placeholder, .next-card-placeholder, .card-placeholder-bg {
            width: 95%;
            height: 70vh;
            position: relative;

            @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max) and (orientation: landscape) {
                height: 52vh;
            }

            @media (min-device-width: $width-desktop-min) and (min-height: $height-desktop-min) {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            .card {
                width: 100%;
                height: 98%;
                background-color: white;
                border: $grey6 1px solid;

                font-size: 32px;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                transition: transform 0.3s linear;
            }

            .card-back {
                background-color: lightgoldenrodyellow;
            }

            .no-rotate-anim {
                transition: transform 0s linear;
            }
        }

        .card-placeholder-bg {
            position: absolute;
            width: 100%;
            background-color: red;
        }

        .next-card-placeholder {
            position: absolute;
            opacity: 1;
            transform: translateX(-110%);
        }

        .next-card-shadow {
            box-shadow: 5px 5px 14px -4px $grey4;
        }

        .game-card-in {
        }

        .next-card-in {
            transform: translateX(0);
            transition: transform 0.5s ease-in-out, opacity 0.3s linear;
        }

        .next-card-fade {
            opacity: 0;
            transition: opacity 0.3s linear;
        }

        .card-hide {
            transform: rotateY(90deg);
        }

        .end-card {
            background-color: $grey5 !important;
        }
    }
}
