@import "../../common/colors";

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .card-placeholder {
        width: 95%;
        height: 80vh;
        position: relative;

        .card {
            width: 100%;
            height: 100%;
            background-color: white;

            font-size: 32px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            transition: transform 0.3s linear;
        }
        .card-back {
            background-color: lightgoldenrodyellow;
        }
    }

    .card-hide {
        transform: rotateY(90deg);
    }
}
