@import "../../common/colors";

.exam-page-container {
    height: 100%;
    width: 100%;

    .exam-page {
        height: 98%;
        width: 97%;
        margin: auto;
        background-color: $grey8blueMask;
        border: $grey6 .3px solid;
        box-shadow: 2px 2px 8px -4px $grey4;
        transform: scale(1);
        transition: transform .2s linear;

        .cards-left {
            position: absolute;
            z-index: 9;
            margin-left: 2%;
            margin-top: 1.5%;
            background-color: $grey7;
            padding: .1rem .3rem;

            i {
                margin: 0px;
                margin-right: 4px;
            }
        }

        .exam-col {
            margin-top: .1rem;
            display: flex;
            flex-direction: column;
            height: calc(100% - 2rem);

            .question {
                font-size: 36px;
                font-weight: 500;
                margin-bottom: 1.4rem;
            }

            .next-btn-container {
                align-self: flex-end;

                button {
                    i {
                        color: $purple1;
                        font-size: 48px;
                    }
                }
            }
            .answers-container {
                flex-grow: 1;

                .answers-col {
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .each-answer-container {
                        flex-grow: 1;
                    }
                }
            }
        }
    }

    .prev-page-flow {
        transform: scale(1.03);
    }

    .disable-prev-card {
        visibility: hidden;
        pointer-events: none;
    }
}
