@import "../../common/colors";

.exam-page-container {
    height: 100%;
    width: 100%;

    .cards-left {
        position: absolute;
        z-index: 9;
        margin-left: 4%;
        margin-top: 1.5%;
        background-color: $grey7;
        padding: .1rem .3rem;
    }

    .exam-col {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

        .question {
            font-size: 36px;
            font-weight: 500;
        }

        .next-btn-container {

            button {
                i {
                    color: $purple1;
                    font-size: 48px;
                }
            }
        }

        .answers-container {
            .answers-col {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
