@import "../../common/colors";

.exam-sum-container {
    height: 100%;
    font-size: 18px;
    font-weight: 600;

    .sum-col {
        height: 100%;
        display: flex;
        flex-direction: column;

        .stats {
            margin-bottom: 1rem;
        }
        .btns-container {
            flex-grow: 1;

            .btns-replay {
                width: 50%;
                margin: 33% auto;

                @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max)
                and (orientation: landscape) {
                    margin-top: 3%;
                }

            }
        }
    }
}
