@import "../../common/colors";
@import "~react-vis/dist/style";

.exam-sum-container {
    height: 100%;
    font-size: 18px;
    font-weight: 600;

    .sum-col {
        height: 100%;
        display: flex;
        flex-direction: column;

        .stats {
            margin-bottom: 1rem;

            .exam-score {
                color: $grey6;
                margin-top: 1rem;
                font-size: 32px;
                font-weight: 500;


                .score-val {
                    margin-top: .8rem;
                    color: $grey10;
                    font-size: 96px;
                    font-weight: 700;
                }
            }
            .exam-score-pie {
                justify-content: center;
                display: flex;
            }
        }
        .btns-container {
            flex-grow: 1;

            .btns-replay {
                width: 50%;
                margin: 33% auto;

                @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max)
                and (orientation: landscape) {
                    margin-top: 3%;
                }

            }
        }
    }
}
