@import "../../common/colors";

.exam-page-container {
    height: 100%;
    width: 100%;

    .exam-page {
        height: 98%;
        width: 97%;
        margin: auto;
        background-color: $grey8blueMask;
        border: $grey6 .3px solid;
        box-shadow: 2px 2px 8px -4px $grey4;

        .cards-left {
            position: absolute;
            z-index: 9;
            margin-left: 2%;
            margin-top: 1.5%;
            background-color: $grey7;
            padding: .1rem .3rem;

            i {
                margin: 0px;
                margin-right: 4px;
            }
        }

        .exam-col {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;

            .question {
                font-size: 36px;
                font-weight: 500;
            }

            .next-btn-container {

                button {
                    i {
                        color: $purple1;
                        font-size: 48px;
                    }
                }
            }

            .answers-container {
                .answers-col {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .disable-prev-card {
        visibility: hidden;
        pointer-events: none;
    }
}
