@import "../../common/colors";

.exam-table {
    width: 100%;
    height: 100%;
    position: relative;

    .exam-previous-paper-container {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 99;

        visibility: hidden;
        pointer-events: none;

        transform: translate(0px, 0px);
        transition: transform .6s ease-in-out;
    }

    .prev-show {
        visibility: visible;
        transform: translate(110%, 0px);
    }
}
