@import "../../common/colors";
@import "~react-vis/dist/style";

.exam-sum-container {
    height: 100%;
    font-size: 18px;
    font-weight: 600;

    .sum-col {
        height: 100%;
        display: flex;
        flex-direction: column;

        .stats {
            direction: rtl;
            margin-bottom: 1rem;

            @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max)
            and (min-aspect-ratio: 13/9) {
                margin-bottom: -2.5rem;

                > p {
                    margin: 0;
                }
            }

            .exam-score {
                position: relative;
                color: $grey6;
                margin-top: 1rem;
                font-size: 32px;
                font-weight: 500;

                @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max)
                and (min-aspect-ratio: 13/9) {
                    transform: scale(.5);
                    margin-top: -3.5rem;
                }

                .score-val-container {
                    position: relative;
                    z-index: 29;
                    display: flex;
                    justify-content: center;
                    margin-top: 3.5rem;
                    color: $grey10;
                    font-size: 96px;
                    font-weight: 700;

                    .score-val-circle {
                        position: absolute;
                        z-index: 30;
                        height: 185px;
                        width: 185px;
                        margin-top: -43px;
                        margin-left: .05rem;
                        content: '';
                        background-color: rgba(0, 0, 0, .1);
                        border-radius: 50%;
                        border: rgba(0, 0, 0, .25) 5px solid;
                    }
                }
            }
        }
        .btns-container {
            flex-grow: 1;
            display: flex;
            justify-content: center;

            .btns-replay {
                width: 12rem;
                align-self: flex-end;
                margin-bottom: 1rem;
            }
        }
    }
}
