@import "../../common/colors";

.game-sum-container {
    height: 100%;
    font-size: 18px;
    font-weight: 600;

    .sum-col {
        height: 100%;
        display: flex;
        flex-direction: column;

        .stats {
            direction: rtl;
            margin-top: 1rem;
            margin-bottom: 2rem;
            font-size: 28px;

            @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max)
            and (min-aspect-ratio: 13/9) {
                margin: .3rem 0;
                font-size: 14px;
            }

            .stats-misses {
                color: darkred;
            }
        }

        .exam-score-pie {
            justify-content: center;
            display: flex;

            @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max)
            and (min-aspect-ratio: 13/9) {
                transform: scale(.5);
                margin-top: -3rem;
            }
        }

        .btns-container {
            flex-grow: 1;
            margin-top: -40px;

            .btns-replay {
                width: 50%;
                margin: 33% auto;

                @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max)
                and (min-aspect-ratio: 13/9) {
                    margin-top: -1rem;
                }

            }
        }
    }
}
