@import "../../common/colors";

.top-menu-container {
    text-align: start;

    .menu-col {
        height: 100%;
        padding: .3rem;

        .title {
            color: $grey6;
            margin-bottom: 1rem;
        }

    }
}
