@import "../../common/colors";

.menu-exam-col {
    height: 100%;
    padding: .3rem;

    .title {
        color: $grey5;
        width: 98%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .flip-container {
        width: 70%;
        margin: 0 auto;
    }
}
