@import "../../common/colors";

.top-menu-container {
    text-align: start;

    .menu-col {
        height: 100%;
        padding: .3rem;

        .title {
            color: $grey5;
            margin-bottom: 1rem;
        }

        .headline {
            color: $grey2;
            font-size: 85%;
            font-weight: 400;
        }
    }
}
