@import "../../common/colors";

.menu-exam-col {
    height: 100%;
    padding: .3rem;

    .title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        text-align: center;
        text-decoration: underline;
        color: $grey3;
        width: 98%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .flip-container {
        width: 70%;
        margin: 0 auto;
    }
}
