@import "../../common/colors";


.sub-menu-replay {

    .headline, .footline {
        color: $grey2;
        font-size: 85%;
        font-weight: 400;
    }
    .footline {
        margin-top: -1rem;
    }

    .size-slider-container {
        width: 85%;
        margin: 0 auto;
        margin-top: 2.5rem;
    }
    .size-slider-foot {
        width: 85%;
        margin: 0 auto;
        margin-top: -1rem;
    }

    .replay-btn-container {
        margin-top: 2rem;
        flex-grow: 1;
        display: flex;
        justify-content: center;

        .replay-btn {
            width: 12rem;
            align-self: flex-end;
        }
    }

    .exam-flip {
        margin-top: 2rem!important;
    }
}
