@import "../../common/colors";

.play-sum-btns-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    .btns-replay {
        width: 12rem;
        align-self: flex-end;
        margin-bottom: 1rem;

        @media #{$mobile} and #{$landscape} {
            margin-bottom: .1rem;
        }
    }
}
