@import "./common/colors";

.App {
    min-height: 100%;
    text-align: center;
    background-color: $purple7;
    display: flex;
    flex-direction: column;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: $purple1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: $grey6;
}
