@import "./common/colors";

.App {
    min-height: 100%;
    height: 100%;
    text-align: center;
    direction: ltr;
}

button {
    @media only screen and (min-device-width: 320px) and (max-device-width: $width-mobile-max) {
        cursor: auto;
    }
}

.modal-box {
    direction: ltr;

    .modal-title {
        text-align: center;
        color: $grey5;
        font-weight: 600;
        margin-bottom: .8rem;
    }
}
