@import "./common/colors";

.App {
    min-height: 100%;
    height: 100%;
    text-align: center;
    direction: ltr;
}

button {
    @media #{$mobile} {
        cursor: auto;
    }
}

.modal-box {
    direction: ltr;

    .modal-title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-top: -.8rem;

        text-align: center;
        text-decoration: underline;
        color: $grey3;
        font-weight: 600;
        margin-bottom: .8rem;
    }
}
