
$header-height: 3.3rem;
$header-space: 4rem;

$grey0: #070707;
$grey1: #222;
$grey2: #444;
$grey3: #666;
$grey4: #888;
$grey5: #aaa;
$grey6: #ccc;
$grey7: rgba(127, 127, 127, .2);
$grey8: rgba(127, 127, 127, .1);
$grey8Mask: #f3f3f3;
$grey8blue: rgba(127, 127, 200, .1);
$grey8blueMask: #eeeaff;
$grey9: #f1ecff;
$grey10: #f7f7f7;

$purple0: #130e42;
$purple1: #330e62;
$purple1b: #4a148c;
$purple2: #6a1b9a;
$purple3: #ab47bc;
$purple4: #ce93d8;
$purple5: #e1bee7;
$purple6: #eee6ff;
$purple7: #f5f0ff;
$purple10: #f5eaf7;


$width-mobile-min: 320px;
$width-mobile-max: 1023px;

$width-desktop-min: 813px;
$height-desktop-min: 640px;

$width-ipad-min: 768px;
$width-ipad-max: 1024px;

$width-ipad-pro-min: 1024px;
$width-ipad-pro-max: 1366px;


$mobile: "screen and (min-device-width: #{$width-mobile-min}) and (max-device-width: #{$width-mobile-max})";
$landscape: "(orientation: landscape)"; // "(min-aspect-ratio: 13/9)";

$desktop: " screen and (min-device-width: #{$width-desktop-min}) and (min-device-height: #{$height-desktop-min})";
$desktop-shorten-screen: "screen and (min-aspect-ratio: 13/9)";

$ipad: "screen and (min-device-width: #{$width-ipad-min}) and (max-device-width: #{$width-ipad-max})";
$ipad-pro: "screen and (min-device-width: #{$width-ipad-pro-min}) and (max-device-width: #{$width-ipad-pro-max})";
